/* layout */
.fixed {
  /* category:layout */
  position: fixed;
}

.absolute {
  /* category:layout */
  position: absolute;
}

.relative {
  /* category:layout */
  position: relative;
}

.inlineBlock {
  /* category:layout */
  display: inline-block;
}

.flex {
  /* category:layout */
  display: flex;
}

.sectionCenter {
  /* category:layout */
  margin: 0 auto;
}

.left0_5 {
  /* category:layout */
  left: 50%;
}

.object-cover {
  /* category:layout */
  object-fit: cover;
}


/* spacing */
.mb1 {
  /* category:spacing */
  margin-bottom: 1rem;
}

.mb2 {
  /* category:spacing */
  margin-bottom: 2rem;
}
.mb3 {
  /* category:spacing */
  margin-bottom: 3rem;
}

.mb4 {
  /* category:spacing */
  margin-bottom: 4rem;
}

.mb5 {
  /* category:spacing */
  margin-bottom: 5rem;
}

.my1 {
  /* category:spacing */
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.pb1 {
  /* category:spacing */
  padding-bottom: 1rem;
}

.px1 {
  /* category:spacing */
  padding: 0 1rem;
}

.pl1 {
  /* category:spacing */
  padding-left: 1rem;
}

.py0_5 {
  padding: 0.5rem 0;
}

.baseContentSize {
  /* category:sizing */
  max-width: 960px;
  padding:0 1rem;
}


/* flexBox or grid */
.flex-justifyBetween {
  /* category:flexBox or grid */
  display: flex;
  justify-content: space-between;
}

.flex-justifyCenter {
  /* category:flexBox or grid */
  display: flex;
  justify-content: center;
}

.flex-alignCenter {
  /* category:flexBox or grid */
  display: flex;
  align-items: center;
}

.flex-contentCenter {
  /* category:flexBox or grid */
  display: flex;
  align-content: center;
}

.flex-contentBetween {
  /* category:flexBox or grid */
  display: flex;
  align-content: space-between;
}

.flex-column {
  /* category:flexBox or grid */
  display: flex;
  flex-direction: column;
}

.flex-row {
  /* category:flexBox or grid */
  display: flex;
  flex-direction: row;
}

.flex-wrap {
  /* category:flexBox or grid */
  display: flex;
  flex-wrap: wrap;  
}

.gap0_05 {
  gap: 5%;
}
.gridCenter {
  /* category:flexBox or grid */
  display: grid;
  place-items: center;
}


/* borders */


/* sizing */
.w0_3 {
  width: 30%;
}
.w20 {
  /* category:sizing */
  width: 20px;
}

.w520 {
  /* category:sizing */
  width: 520px;
}

.wAuto {
  /* category:sizing */
  width: auto;
}

.wFit {
  /* category:sizing */
  width: fit-content;
}

.wFull {
  /* category:sizing */
  width: 100%;
}

.h20 {
  /* category:sizing */
  height: 20px;
}

.h160 {
  /* category:sizing */
  height: 160px;
}

.h270 {
  /* category:sizing */
  height: 270px;
}

.h100 {
  /* category:sizing */
  height: 100px;
}

.h420 {
  /* category:sizing */
  height: 420px;
}

.hAuto {
  /* category:sizing */
  height: auto;
}

.hFull {
  /* category:sizing */
  height: 100%;
}

.max-w960 {
  /* category:sizing */
  max-width: 960px;
}

.max-w384 {
  /* category:sizing */
  max-width: 384px;
}

.max-w448 {
  /* category:sizing */
  max-width: 448px;
}

.max-wFull {
  /* category:sizing */
  max-width: 100%;
}

.max-w0_3 {
  /* category:sizing */
  max-width: 30%;
}

.min-w0_3 {
  /* category:sizing */
  min-width: 30%;
}

.min-w200 {
  /* category:sizing */
  min-width: 200px;
}


/* typography */
html {
  /* category:typography */
  font-size: 16px;
}

body {
  /* category:typography */
  font-family: "Helvetica Neue", Arial, "Hiragino Kaku Gothic ProN",
    "Hiragino Sans", Meiryo, sans-serif;
  line-height: normal;
}

h1 {
  /* category:typography */
  font-size: 2.5rem;
  font-weight: 700;
}

h2 {
  /* category:typography */
  font-size: 2rem;
  font-weight: 700;
}

h3 {
  /* category:typography */
  font-size: 1.75rem;
  font-weight: 700;
}

h4 {
  /* category:typography */
  font-size: 1.5rem;
}

h5 {
  /* category:typography */
  font-size: 1.25rem;
}

h6 {
  /* category:typography */
  font-size: 1rem;
}

p {
  /* category:typography */
  font-size: 1rem;
}

.font-bold {
  /* category:typography */
  font-weight: 700;
}

.text1 {
  /* category:typography */
  font-size: 1rem;
}

.text0_75 {
  /* category:typography */
  font-size: 0.75rem;
}

.textCenter {
  /* category:typography */
  text-align: center;
}

.text-white {
  color:#ffffff
}

.aStyleNone {
  /* category:typography */
  color: currentColor;
  text-decoration: none;
}

.list-none {
  /* category:typography */
  list-style-type: none;
}


/* backgrounds */
.bg-black {
  background-color: #333333
}

/* transitions & animation */


/* transforms */


/* interactivity */
html {
  /* category:interactivity */
  scroll-behavior: smooth;
}


/* SVG */


/* table */


/* effects */


/* Filters */


/* accessibility */


/* combination styles */


/* combination animation */
